# Frontend
VITE_PORT=2513
VITE_API_URL=http://localhost:2514

# Server
PORT=2514
CLIENT_ORIGIN=http://localhost:2513

# Docker services
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
